<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/3rd_Class/src/Decimal_to_any_depend_on_base.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Decimal_to_any_depend_on_base"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="3rd_Class"/>
</launchConfiguration>
