<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/5th_Class_Shorting_and_2D_array/src/Exit_Point_in_2D_array.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Exit_Point_in_2D_array"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="5th_Class_Shorting_and_2D_array"/>
</launchConfiguration>
