<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Mathmatical_Operartion_and_Expressions/src/Matrix_operations/Matrix_Basic_Operation.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Matrix_operations.Matrix_Basic_Operation"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Mathmatical_Operartion_and_Expressions"/>
</launchConfiguration>
