<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/4th_Class/src/power_and_Log_By_using_Funtion.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="power_and_Log_By_using_Funtion"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="4th_Class"/>
</launchConfiguration>
