<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CodingQuestions/src/Geeks/Q009_Minimum_Cut_to_make_All_Strings_Palindrome.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Geeks.Q009_Minimum_Cut_to_make_All_Strings_Palindrome"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CodingQuestions"/>
</launchConfiguration>
