<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CodingQuestions/src/Geeks/DP/Q028_Longest_Consecutive_Path_In_Character_Matrix.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Geeks.DP.Q028_Longest_Consecutive_Path_In_Character_Matrix"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CodingQuestions"/>
</launchConfiguration>
