<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Assingment_Institutes/src/PepCoding/Pep_Java_7Recursion/Q030_PrintAllPossibleCode.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="PepCoding.Pep_Java_7Recursion.Q030_PrintAllPossibleCode"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Assingment_Institutes"/>
</launchConfiguration>
