<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Assingments/src/Assingment_05_String/Q05_printchar_with_diff_of_ASCII.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Assingment_05_String.Q05_printchar_with_diff_of_ASCII"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Assingments"/>
</launchConfiguration>
