<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Assingments/src/Assingment_06_Recursion/Q08_return_first_index_of_data_in_array.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Assingment_06_Recursion.Q08_return_first_index_of_data_in_array"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Assingments"/>
</launchConfiguration>
