<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HackerRank/src/Practice/Mathmatics/Geometry/Sherlock_and_Planes.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Practice.Mathmatics.Geometry.Sherlock_and_Planes"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HackerRank"/>
</launchConfiguration>
