<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CP3_StevenAndFelix/src/Theory/MatheMatics/T05_NumberTheory/T01_PrimeNumber.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Theory.MatheMatics.T05_NumberTheory.T01_PrimeNumber"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CP3_StevenAndFelix"/>
</launchConfiguration>
