<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HackerRank/src/Contest/HiringContest_26_01_2017/Winning_Lottery_Ticket.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Contest.HiringContest_26_01_2017.Winning_Lottery_Ticket"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HackerRank"/>
</launchConfiguration>
